

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


{% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type="text/css"></link>
<script src="{% static '/js/bootstrap.min.js' %}" type="text/javascript"></script>


<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Stock Analysis</a>
    </div>
  </div>
</nav>

<div class="container-fluid">

<form action='/company/' method="POST">{% csrf_token %}
    <div class="form-group">
        <div class="row">
            <div class="col-sm-4">
              <label for="company_name">Company</label>
              <input type="text" name="company_name" class="form-control" id="usrinp_1">
            </div>

            <div class="col-sm-4">
              <label for="start_date">Start Date</label>
              <input type="text" name="start_date" class="form-control" id="usrinp_2">
            </div>

            <div class="col-sm-4">
              <label for="end_date">End Date</label>
              <input type="text" name="end_date" class="form-control" id="usrinp_3">
            </div>
        </div>
    </div>
    <input type="submit" class="btn btn-info" value="Submit Button">
</form>

<div class="container-fluid">
<div class="row">
	<div class="wrapper">
  				 <ul class="pagination">
  				   <li class="active"><a href="#">January-March</a></li>
 				   <li><a href="#">April-June</a></li>
  				   <li><a href="#">July-September</a></li>
  				   <li><a href="#">October-December</a></li>
				</ul> 
			</div>
	</div>
</div>	
	<div class="row">
		<div>
			<canvas id="lineChart" width="900px" height="500px">	
			</canvas>
		</div>
	</div>

</div>

<style type="text/css">
	.wrapper {
		text-align: center;
	}
	.button{
		/*position: absolute;*/
		top:50%;
	}
	.drop{
		text-align: center;
	}
	canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
</style>

<script>
project();
get(project);
var stock_price=[];
var stock_date=[];
var company_name;
function get(callback){
    stock_price = {{ price }}
    stock_date = {{ date }}
    company_name = '{{ company }}'


for(var i=0; i<stock_date.length ; i++) 
{
    var date = new Date(stock_date[i])
    stock_date[i] = '' + date.getDate() + '/' + date.getMonth() + '/' + date.getYear();
}
console.log(typeof stock_price)
console.log(typeof stock_date)
console.log(typeof [12,12,12,12,12])
callback();
// print(stock_price)

}

function project(){
    var CHART = document.getElementById("lineChart").getContext('2d');

	let lineChart = new Chart(CHART ,{
    type : 'line',
    data: {
        labels: stock_date,
        datasets: [{
            label: 'Stock Prices of '+ company_name,
            fill: false,
            lineTension:0.1,
            data: stock_price,   
            backgroundColor: [
                'rgba(255, 255, 0, 0.2)'
            ],
            borderColor: [
                'rgba(0,0,153,1)'
            ],
            borderWidth: 2
        }
        // ,
        // {
        //     label: '# of Votes',
        //     data: [15, 20, 13, 17, 22, 23],
        //     fill:false,
        //     lineTension:0.1,    
        //     backgroundColor: [
        //         'rgba(255, 102, 102, 0.2)'
        //     ],
        //     borderColor: [
        //         'rgba(255,0,0,1)'
        //     ],
        //     borderWidth: 1

        // }
        ]
    },
    options: {
        responsive : false ,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }


});
}
</script>