<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.bundle.js" type="text/javascript"></script>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>


{% load staticfiles %}
<link rel='stylesheet' href="{% static 'css/bootstrap.min.css' %}" type="text/css"></link>
<script src="{% static '/js/bootstrap.min.js' %}" type="text/javascript"></script>




<nav class="navbar navbar-default ">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Sentiment Analysis</a>
    </div>
  </div>
</nav>


<div class="container-fluid">
	<div class="row">
		<div>
			<canvas id="lineChart" width="900px" height="500px">
			</canvas>
		</div>
	</div>
</div>

<style type="text/css">
	.wrapper {
		text-align: center;
	}
	.button{
		/*position: absolute;*/
		top:50%;
	}
	.drop{
		text-align: center;
	}
	canvas {
    padding: 0;
    margin: auto;
    display: block;
    width: 800px;
}
</style>

<script>
project();
function project(){
    var CHART = document.getElementById("lineChart").getContext('2d');
	let lineChart = new Chart(CHART ,{
    type : 'bar',
    data: {
        labels: ["Red", "Blue", "Yellow", "Green", "Purple", "Orange"],
        datasets: [{
            label: '# of Votes',
            fill: false,
            lineTension:0.1,
            data: [20,16,19,13,15,22,23],
            backgroundColor: [
                'rgba(255, 255, 0, 0.2)'
            ],
            borderColor: [
                'rgba(0,0,153,1)'
            ],
            borderWidth: 2
        },
        {
            label: '# of Votes',
            data: [15, 20, 13, 17, 22, 23],
            fill:false,
            lineTension:0.1,
            backgroundColor: [
                'rgba(255, 102, 102, 0.2)'
            ],
            borderColor: [
                'rgba(255,0,0,1)'
            ],
            borderWidth: 1
        }
        ]
    },
    options: {
        responsive : false ,
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true
                }
            }]
        }
    }
});
}
</script>
